// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$green: #b5ca01;
$red: #cc0000;
$black: #2d1a2e;
$body-bg: white;
$body-color: $black;
$dark: #707173;

$dropdown-bg: $dark;
$dropdown-link-hover-bg: darken($dark, 5%);
$dropdown-link-active-bg: lighten($dark, 5%);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";

$navbar-dark-color: $light;
$navbar-dark-active-color: $green;

@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Layout & components
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack

// Icons
@import "bootstrap-icons/font/bootstrap-icons";

header {
  background-color: $dark;
}
main {
  background-color: #e6efef;
}
.red {
  color: $red;
}

footer {
  content-visibility: auto;
}

.carousel-item {
  text-align: center;
}

table .number {
  text-align: end;
  width: 1%;
}

#phd-navbar > ul > li > .nav-link {
  font-size: 21px;
}

@media print {
  table.results {
    margin: 0;
    abbr {
      text-decoration: none !important;
      border: none !important;
    }
    abbr[title]:after {
      content: none !important;
    }
  }

  @page {
    size: 210mm 297mm;
  }
}

.sponsorsss {
  a {
    outline: none;
    text-decoration: none;
  }
}
